<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="#">Accounting</a></li>
        </ul>
        <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Show<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">All information</a></li>
            <li><a href="#">EmployeeInfo table</a></li>
            <li><a href="#">WorkPlace table</a></li>
            <li><a href="./ShowCompanies">Companies</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Employees</a></li>
            <li><a href="#">Workplaces</a></li>
            <li><a href="#">Companies</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>