<!DOCTYPE html5>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <title>Lab 2 DB</title>
</head>
<body>

{% include "./DB_LAB2/header.html" %}

<div>
    <table class="table table-hover table-bordered table-responsive">
        <caption>
            <h3>Workplaces</h3>
        </caption>
        <thead>
            <th>Workplace id</th>
            <th>Company id</th>
            <th>Position</th>
            <th>Salary</th>
            <th>Company auto</th>
            <th>Start of working</th>
        </thead>
        <tbody>
            {% for e in emp %}
                <tr>
                    <td> {{ e.0 }} </td>
                    <td> {{ e.1 }} </td>
                    <td> {{ e.2 }} </td>
                    <td> {{ e.3 }} </td>
                    <td> {{ e.4 }} </td>
                    <td> {{ e.5 }} </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
</div>
</body>
</html>